  .box{
    width: fit-content;
    background: rgba(0, 0, 0, 0.4);
    padding: 70px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: white;
    font-family: 'Century Gothic',sans-serif;
  }  
  .box h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: bold;
  }

  .box h2{
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: bold;
  }

  .box h5{
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
  }
  .box p{
    text-align: justify;
  }  
  
  .icon{
    padding: 20px;    
    display: inline-block;
    color: white;
    text-decoration: none;
  }
  
  .icon p{
    font-weight: bold;
    text-align: center;
  }
  
  div.blueTable {
    border: 1px solid #1C6EA4;
    background-color: #C9D1D5;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    border: 2px solid #AAAAAA;
    padding: 3px 2px;
    font-size: 23px;
    color: #3F3F3A;    
    display: table;
  }

  .divTableCell{
    border: 2px solid #AAAAAA;
    padding: 3px 2px;
    font-size: 18px;
    color: #3F3F3A;
    display: table-cell;
  }

  .divTableHead {
    border: 2px solid #AAAAAA;
    padding: 3px 2px;
    font-size: 23px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    border-left: 2px solid #D0E4F5;
    display: table-cell;
  }

  .divTableBody{
    font-size: 13px;
    color: #3F3F3A;
    display: table-row-group;
  }
  .divTable.blueTable .divTableHeading {
    background: #87BCC6;
    background: -moz-linear-gradient(top, #a5cdd4 0%, #93c2cb 66%, #87BCC6 100%);
    background: -webkit-linear-gradient(top, #a5cdd4 0%, #93c2cb 66%, #87BCC6 100%);
    background: linear-gradient(to bottom, #a5cdd4 0%, #93c2cb 66%, #87BCC6 100%);
    border-bottom: 2px solid #444444;
  }
  .divTable.blueTable{
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    border-left: 2px solid #D0E4F5;
  } 

  .divTableHeading{
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    border-left: 2px solid #D0E4F5;    
    display: table-header-group;
  }

.divTableRow { display: table-row; }

