*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(to right, #B0C4DE, #046d6d);
    color: white;
    font-family: 'Lato', sans-serif;
    min-height: 100vh;
}

header{
    font-size: 1.5rem;
}

header, form{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, form button{    
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
}

form button{
    color: #d45d31;
    background: white;
    cursor: pointer;
    transition: all 0.5s ease;
}

form button:disabled{    
    color: grey;    
}

form button[disabled]:hover{
    background: white;
    color: grey;
}

form button:hover{
    background: #d45d31;
    color: white;
}

.search-tasks{
    margin: 0.5rem;    
}

.delete-modal{   
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    position: absolute;
    top: 40vh;
    right: 30vw;
    background: white;    
    margin: auto;
    padding: 0;    
    width: 28%;
    height: 5%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);  
 }

 .modal-header {
    background: white;
    padding: 2px 16px;   
    color: #CD5C5C;
    font-weight: bold;
    text-align: center;
}

 .cancel-delete {
    background: #228B22;
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
 }

 .accept-delete {
    background: #CD5C5C;
    color: black;
    float: left;
    font-size: 28px;
    font-weight: bold;
 }

.wraper{
    position: absolute;
    top: 40vh;
    right: 0vw;
    left: 15vw;
    width: 90vw;
    display: inline-flex;
    
}

.todo-container{    
    width: 40%;   
    justify-content: center;
    align-items: center;    
}

.todo-list{        
    min-width: 40%;
    max-width: 60%;    
    list-style: none;
    border: none;
}

.list-title{
    font-size: 1.2rem;
    color: white;
    background: #CD5C5C;
    cursor: pointer;
}

.todo{    
    margin: 0.5rem;   
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease;
    cursor: pointer;
}

.todo li{    
    overflow: hidden;    
    flex: 1;  
    margin: 0.5rem;  
}

.delete-btn, .complete-btn, .date-label{
    background: #CD5C5C;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}

.date-label{
    background: #2F4F4F;
}

.complete-btn{
    background: #228B22;
}

.fa-trash, .fa-check, .fa-trash-restore{
    pointer-events: none;
}

.completed{
    background: grey;
}

.completed li{
    text-decoration: line-through;    
    opacity: 0.7;
}

.fall{
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}

select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
}

.select{
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

select{
    font-weight: bold;
    background: white;
    color: #d45d31;
    width: 10rem;
    padding: 1rem;
    cursor: pointer;
}

.select::after{
    content: "\25BC";
    position: absolute;
    background: #d45d31;
    padding: 1rem;
    top: 0;
    right: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.select:hover::after{
    background: white;
    color: #d45d31;
}